@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 93vh;
}

section {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background-color: #373636;
  justify-content: center;
}

.two {
  background-color: #373636;
}

.three {
  background-color: #373636;
}

.four {
  background-color: #373636;
}


 .navbar {
    height: 7vh;
    background-color: #373636;
    display: flex;
    justify-content: space-between;
 }

 .logo {
    height: 7vh;
    margin-left: 3vh;
    margin-top: 2vh;
    font-family: 'Merriweather', serif;
    color: #FFF5E1;
    font-weight: 100;
 }

 .contact {
    margin-right: 4vh;
    margin-top: 2.5vh;
    font-size: 2.5vh;
    text-decoration: none;
    color: #FFF5E1;
    font-family: 'Merriweather', serif;
 }

 ::-webkit-scrollbar {
    width: 0%;
 }

 .picture {
    height: 60vh;
    border-radius: 25px;
 }

 .heroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .heroHalfOne {
    width: 70%;
    float: left;
    
 }

 .heroHalfTwo {
    width: 30%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
 }