@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 93vh;
}

section {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background-color: #373636;
}

.two {
  background-color: #373636;
}

.three {
  background-color: #373636;
}

.four {
  background-color: #373636;
}

h1 {
  color: white;
  text-shadow: 1px 1px 4px #000;
}
 .navbar {
    height: 7vh;
    background-color: #373636;
    display: flex;
    justify-content: space-between;
 }

 .logo {
    height: 7vh;
    margin-left: 2vh ;
 }

 .contact {
    margin-right: 4vh;
    margin-top: 2vh;
    font-size: 2.5vh;
 }

